scripts/__pycache__/
mlruns/
.venv/

scripts/database/__pycache__/
default_landmark_distances/
specific_distances/
scripts/data/
images_test/
images/
model/
teste/
data/

.env

scripts/main.py
scripts/train.py
scripts/predict.py
scripts/config.json
scripts/process_data.py
scripts/local_load_db.py
scripts/image_processing.py

measures.txt
measurements_data.csv
model.joblib
confusion_matrix.jpg