scripts/__pycache__/
mlruns/
.venv/

scripts/database/__pycache__/
default_landmark_distances/
specific_distances/
scripts/data/
images_test/
images/
model/
teste/
data/

.env

measures.txt
measurements_data.csv
model.joblib
confusion_matrix.jpg