__pycache__/
mlruns/
images/
teste/
.venv/
data_/
images_test/
specific_distances/
default_landmark_distances/
.env
main.py
train.py
predict.py
config.json
measures.txt
measurements_data.csv
model.joblib
confusion_matrix.jpg